/* Basic Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 /* border: 1px solid;*/
}

body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.wrap-matrix {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.wrap-matrix img {
  width: 100%;
}

.more-inf {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .wrap-matrix { 
    text-align: center;
  }

}

.wrap-tasks {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1
}

.task-row-wrapper {
  display: flex;
}

.ul-tasks {
  margin:0;
  padding: 0px;
}

.li-tasks, 
.h3-task {
  list-style:none;
}

.task-text,
.button-task{
  outline:none;
}

.button-task {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button-task:hover {
  color: #3a3A3a;
}

/* Heading */
.h3-task,
.label-new-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.task-text {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task-text:focus {
  color: #333;
}

/* New Task */
.label-new-task {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */
.li-tasks {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.li-tasks > * {
  vertical-align: middle;
}

.li-tasks > input[type="checkbox"] {
  margin: 0 10px;
}

.li-tasks > label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.li-tasks > input[type="text"] {
  width: 226px
}

.delete img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete img:hover {
  transform: rotateZ(0);
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.ul-tasks li input[type=text] {
  display:none
}

.ul-tasks li.edit-mode input[type=text] {
  display:inline-block;
  width:224px
}

.ul-tasks li.edit-mode label {
  display:none;
}